/* no focus style for non-keyboard-inputs elements */
*:focus {
    outline: none;
}

/* and for keyboard users, override everything with
   a Big Blue Border when focused on any element */
body.user-is-tabbing *:focus {
    outline: 2px dashed $primary !important; /* for non-webkit browsers */
    outline: 2px dashed $primary !important;
}
